*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sfondo{
    height: 100px;
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-size: 385px;
}

.logo{
    width: 200px;
    margin-top: 40px;
    margin-left: 10px;
}

#titolo{
    width: 1500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 20px;
}
.testogrigio{
    color: darkgray;
    margin-left: 10px;
    margin-bottom: 20px;
}

#testoblu{
    color: aqua;
}

main,
footer{
    margin-left: 10px;
}

/* foto */

.timfoto{
    width: 700px;
    height: 500px;
    background-size: contain;
}

/* paragrafo */
mark {
    background-color: yellow;
  }
 .paragrafo{
    width: 1500px;
    margin-top: 20px;
    margin-bottom: 25px;
 }

 /* lista */

 .lista{
    margin-left: 15px;
    margin-bottom: 25px;
 }

 /* tabella */

 .primafila{
    background-color: rgb(0, 132, 255);
    color: white;
 }
 .secondaquartafila{
    background-color: rgba(39, 152, 222, 0.56);
 }
 
 .riga{
    width: 350px;
 }

 .allinea{
   text-align: left;
 }

 table{
    border-collapse: collapse;
 }

 .paragrafo2{
    margin-top: 15px;
    margin-bottom: 25px;
 }

 /* footer */

 h3{
    color: rgb(208, 207, 207);
    margin-bottom: 10px;
 }

 .ultimefoto{
    position: relative;
 }

 h2{
    position: absolute;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
 }